/****** Base Styles ******/

body {
    font-family: 'Roboto', sans-serif;
    color: #253841; /* #3b3c40; */
    background-color: #ffffff;
    font-size: 16px;
}

h1 {
    font-family: 'Roboto Slab', serif;
/*    color: #586e73; */
}

/*
#container {
    width: 1200px;
    margin: auto;
}
*/

/****** GRID ******/

.full-width {
    width: 1200px; 
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/****** HEADER ******/

header {
    height: 800px;
    background: url('../img/hero-tri-v1.jpg');
    background-size: cover;
}

header h1 {
    font-size: 36px;
    text-align: center;
    padding: 65px 0 65px 25px;
    text-decoration: none;
}

nav {
    float: right;
    padding: 75px 25px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #586e73; /* #828282; */
    padding-left: 80px;
}

a:hover {
    color: #253841; /* #ccc; */
    text-decoration: none;
}

nav ul li,
footer ul li {
    display: inline-block;
}

header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-size: 68px;
    line-height: 80px;
    color: #000;
    padding: 20px 0 20px 25px;
}
 
.transbox h2 {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 0.5;
    filter: alpha(opacity=60); 
    position: relative;
}

/*
.half-black {
    background: rgba(0, 0, 0, 0.5);
    margin: 20px;
  }
*/

/****** Work ******/

#work {
    height: 1450px;
    padding-top: 10px;
}

.portfolio {
    clear: both;
    padding: 50px 0px;
}
/*
.first {
    padding: 25px 0px 50px 0px;
}

.last {
    padding: 50px 0px 25px 0px;
}
*/
main h3 {
    font-size: 36px;
    color: #3b3c40;
    text-align: center;
  /*  padding-top: 20px; */
}

main h4 {
    font-size: 24px;
    font-weight: 700;
}

h5 {
    font-size: 24px;
    font-weight: normal;
    color: #586e73;
}

img {
    border: 1px solid #b7b7b7;
    border-radius: 5px;
}

.tidbit p {
    font-size: 20px;
    color: #3b3c40;
    line-height: 24px;
}

/****** About ******/

#about {
    height: 650px;
    clear:both;
    background-color: #ebebeb;
    padding: 10px; 
} 

.line {
    padding-bottom: 10px;
}

.intro {
    font-size: 18px;
}

/****** Contact Footer ******/

#contact {
    height: 465px;
    clear: both;
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 10px;
}

footer {
    background: url('../img');
    background-size: cover;
}

footer h1 {
    padding-bottom: 10px;
}

footer img {
    border: none;
}

.list {
    padding: 0;

}

i {
    font-size: 35px;
    color: #586e73; /* #3b3c40; */
    margin: 0 10px;
}

i:hover {
    color: #253841; 
    text-decoration: none;
}

#top {
    height: 800px;
}